@use '../utilities/variables' as *;

@mixin centre {
  margin-left: auto;
  margin-right: auto;
}

// BUTTON
@mixin orderButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.69rem 0.91rem;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.6;
  transition: 220ms all ease-in-out;
}

@mixin orderButtonFocus {
  outline-style: solid;
  outline-color: transparent;
}

// DECORATIVE SIDE BOXES FOR LARGE DISPLAYS
@mixin decorativeBox {
  width: 8rem;
  height: 15rem;
  background-color: $color-button-secondary-normal;
  position: absolute;
  border-radius: 1.25rem;
}

// MARGINS
@mixin mobileMargins {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@mixin lgMargins {
  margin-left: 5rem;
  margin-right: 5rem;
}

@mixin xlMargins {
  margin-left: 10.3rem;
  margin-right: 10.3rem;
}

// IMAGES
@mixin imgSizing {
  width: 100%;
  object-fit: cover;
}

// MEDIA QUERIES
@mixin responsive($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: 450px) {
      @content;
    }
  }

  @if $breakpoint == medium {
    @media (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (min-width: 1000px) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (min-width: 1440px) {
      @content;
    }
  }
}
