$color-headings: hsla(220, 50%, 17%, 1);
$color-text: hsla(220, 23%, 58%, 1);
$color-button-primary-normal: hsla(22, 88%, 52%, 1);
$color-button-primary-hover: hsla(22, 100%, 69%, 1);
$color-button-secondary-normal: hsla(198, 28%, 93%, 1);
$color-button-secondary-hover: $color-headings;
$color-light: hsla(0, 0%, 100%, 1);

// Font
$barlow: 'Barlow', sans-serif;

// Margins
$margin-paragraph-sm: 2rem;
$margin-paragraph-md: 3rem;

$margin-sm: 2.4rem;
$margin-md: 4rem;
$margin-lg: 4.7rem;
$margin-xlg: 6.9rem;

// Borders
$border-radius: 1.25rem;
