@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

header {
  .wrapper {
    outline: 2px solid blue;
    // width: clamp(21rem, 85vw, 70rem);
    // margin-top: 1.4rem;
    // margin-bottom: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @include centre;
  }

  .order-link-header {
    @include orderButton;
    background-color: $color-button-secondary-normal;
    color: $color-headings;

    &:hover,
    &:active {
      background-color: $color-button-secondary-hover;
      color: $color-light;
    }

    &:focus {
      @include orderButtonFocus;
      box-shadow: 0 0 0 2px $color-button-secondary-hover;
    }
  }
}
