@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

header {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  @include mobileMargins;

  @include responsive(lg) {
    margin-top: 3.4rem;
    margin-bottom: 5rem;
    @include lgMargins;
  }

  @include responsive(xl) {
    margin-bottom: 5.2rem;
    @include xlMargins;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
