@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

.main-content {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;

  @include responsive(medium) {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  @include responsive(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
