@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

// DECORATIVE SIDE BOXES
body {
  @include responsive(xl) {
    .bg-right {
      @include decorativeBox;
      top: 11.52rem;
      right: -2rem;
    }

    .bg-left {
      @include decorativeBox;
      top: 55.45rem;
      left: -2rem;
    }
  }
}

.site {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
